
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Softy Pinko - Bootstrap 4.0 Theme</title>
    <!--
    SOFTY PINKO
    https://templatemo.com/tm-535-softy-pinko
    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/Templates/web/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Templates/web/css/font-awesome.css">

    <link rel="stylesheet" href="~/Templates/web/css/templatemo-softy-pinko.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a class="navbar-brand" href="/AnaSayfa/Index/">
                            <img src="~/Templates/web/images/teamworks.png" alt="Kubra Trello" />
                            KUBRA TRELLO
                        </a>

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">

                            <li><a href="/Gorev/Index/">Görevler</a></li>
                            <li><a href="/GorevDurum/Index/">Durumlar</a></li>
                            <li><a href="/Trello/Index/">Trello</a></li>
                            <li><a href="/CikisYap/">Çıkış Yap</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </header>
    <!-- ***** Header Area End ***** -->
    <br /><br /><br /> <br />
    @RenderBody()

    <!-- jQuery -->
    <script src="~/Templates/web/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Templates/web/js/popper.js"></script>
    <script src="~/Templates/web/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/Templates/web/js/scrollreveal.min.js"></script>
    <script src="~/Templates/web/js/waypoints.min.js"></script>
    <script src="~/Templates/web/js/jquery.counterup.min.js"></script>
    <script src="~/Templates/web/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="~/Templates/web/js/custom.js"></script>

</body>
</html>

